#main-container {
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
}

div {
    text-align: left;
    line-height: 30px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #9370DB;
    padding-bottom: 15px;
    padding-left: 25px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 
    padding: 0 25px 0 25px;
    color: black;
}

.container-fluid {
    width:100%;
    padding: 25px;
}

#randomNumber {
    font-size: 50px;
    padding: 0 0 0 250px;
    color: #9370DB;
}

#wins {
    color: #9370DB;
}

#losses {
    color: #9370DB;
}

#totalScore {
    color: #9370DB;
}